# Environment files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/*

# Virtual environment
venv/

# Model directory (exclude large model files)
llama3.2_3b/

Tune_Results/

llama3.2-Socrates/
Assn3/